# Dependency directories
node_modules
bower_components

# Optional npm cache directory
.npm

# Build directory
assets/fonts/*
assets/images/*
assets/scripts/*
assets/styles/*
!assets/images/theme-preview.png